@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display&family=Roboto&display=swap");

:root {
  --logoFont: "Pacifico", cursive;
  --secondaryFont: "Roboto", sans-serif;
  --primaryFont: "Playfair Display", serif;
  --primaryColor: #2c2f36;
  --headerTextColor: blue;
  --textColor: #85888f;
  --bgColor: #fafafa; 
}
